.container{
    margin-top: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 233, 231);
    width: 20em;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forms input{
    margin:1em;
}

.forms input[type="submit"]{
    width: 10em;
    height: 2.5em;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1em;
    transition: all 300ms ease;
}

.forms input[type="submit"]:hover{
    background-color: rgba(0, 0, 0, .6);
    color: black;
}