.nav {
    align-items: center;
    background-color: white;
    box-shadow: 1px 0 5px gray;
    display: flex;
    height: 50px;
    gap: 1em;
    justify-content: flex-end;
    padding: 0 1em;
}
.nav p {
    margin: 0;
}
.nav h2 {
    align-items: center;
    cursor: pointer;
    font-family: 'Roboto';
    display: flex;
    margin: 0;
}